* {
  margin: 0;
  padding: 0;
}

#targetHTML {
  display: none;
}

html {
  font-family: "Lora", serif;
  scroll-behavior: smooth;
}

body {
  background-color: #232728;
  max-width: 1280px;
  margin: auto;
}
body nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 0px;
  max-width: 100%;
  margin-top: 16px;
}
body nav li {
  display: flex;
  flex-direction: column;
  flex-basis: calc(((100% + 2rem) / 12) * 4 - 2rem);
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 2rem;
  align-items: center;
}
body nav li:last-child {
  margin-right: 0;
}
body nav li button {
  background-color: #4db5da;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  height: 32px;
  width: 120px;
}
body hr {
  border: solid 1px #727272;
  margin: 16px;
}
body #items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 40px;
  max-width: 100%;
}
body #items .item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(((100% + 2rem) / 12) * 3 - 2rem);
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 2rem;
  background-color: #323738;
  color: #fff;
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
  margin-bottom: 24px;
  text-decoration: none;
  transition: transform 0.3s;
}
body #items .item:last-child {
  margin-right: 0;
}
body #items .item .delete {
  align-items: center;
  background-color: #d81717;
  border-radius: 100%;
  border: 0px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 32px;
}
body #items .item img {
  border: 0px;
  height: 120px;
  margin: auto;
  width: 180px;
}
body #items .item h2 {
  margin-left: 10%;
  margin-top: 16px;
}
body #items .item p {
  color: #9aa5a8;
  font-size: 14px;
  margin-left: 10%;
  margin-top: 4px;
}
body #items .item h4 {
  color: lightgray;
  font-size: 16px;
  margin-left: 10%;
  margin-top: 16px;
}
body #items .item h4 a {
  color: #fff;
  text-decoration: none;
}
body #items .item h3 {
  font-size: 24px;
  margin-left: 10%;
  margin-top: 4px;
}
body #items .item h3 a {
  color: #fff;
  text-decoration: none;
}
body #items .item .red {
  color: #d81717;
}
body #items .item .orange {
  color: #fd800b;
}
body #items .item .yellow {
  color: #ffd900;
}
body #items .item .green {
  color: #28f121;
}
body #items .item:hover {
  transform: scale(1.05);
}
body #items .item:nth-child(4n) {
  margin-right: 0px;
}
body .darkBackground {
  background-color: rgba(0, 0, 0, 0.719);
  height: 100vh;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
body .darkBackground.show {
  display: flex;
}
body #newItemForm {
  background-color: #323738;
  border-radius: 4px;
  box-shadow: 2px 2px 18px -5px rgba(0, 0, 0, 0.75);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: fit-content;
  position: relative;
  padding: 16px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
}
body #newItemForm #closeAddItem {
  align-items: center;
  background-color: #d81717;
  border-radius: 100%;
  border: 0px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 32px;
}
body #newItemForm h3 {
  padding: 8px;
  text-align: center;
}
body #newItemForm label {
  margin: 0px 0px 4px 10px;
}
body #newItemForm input, body #newItemForm select {
  height: 24px;
  margin: 0px 0px 8px 8px;
}
body #newItemForm button {
  cursor: pointer;
  height: 24px;
  margin: 24px auto 0px;
  width: 20%;
}