@import '_grid';

$phone-down: "max-width: 599px";
$phone-up: "min-width: 600px";
$tablet-down: "max-width: 767px";
$tablet-up: "min-width: 768px";
$desktop-down: "max-width: 1023px";
$desktop-up: "min-width: 1024px";
$desktop-wide-down: "max-width: 1279px";
$desktop-wide-up: "min-width: 1280px";

* {
    margin: 0;
    padding: 0;
}

#targetHTML {
    display: none;
}

html {
    scroll-behavior: smooth;
}

//____________________________________________________________________________
//____________________________________________________________________________
// header
//____________________________________________________________________________
//____________________________________________________________________________
#main {
    @include grid-row();
    background-color: #232728;
    height: 100vh;
    width: 100%;


    form {
        background-color: #323738;
        border-radius: 8px;
        -webkit-box-shadow: 2px 2px 18px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 18px -5px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 18px -5px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: auto;
        width: 360px;

        h1 {
            color: #fff;
            text-align: center;
            margin-bottom: 24px;
            margin-top: 24px;
        }

        input {
            background-color: #35393a;
            border-radius: 4px;
            border: solid 1px #636464;
            color: #fff;
            height: 32px;
            margin: 8px auto 8px auto;
            outline: none;
            padding-left: 8px;
            width: 80%;
        }

        input.hide {
            border: 0px;
            height: 0px;
        }

        input[type=submit] {
            background-color: #4db5da;
            border: 0px;
            color: #fff;
            cursor: pointer;
            margin: 16px auto 24px auto;
            width: 83%;
        }

        #email { margin-top: -8px; }
        
        #passwordRepeat { margin-bottom: -8px; }

        a {
            color: #fff;
            cursor: pointer;
            margin: 0px 0px 24px 0px;
            text-align: center;
        }

        a.hide {
            display: none;
        }
    }
}